:root {
  --pink: #FF00AE;
  --blue: #0062F9;
}

body {
  background-color: black;
  color: var(--blue);
}
span, div {
  font-family: 'Space Mono', monospace;
}

.bar-background {
  background: var(--pink);
  opacity: 0.5;
}

a {
  color: var(--pink);
}

a:hover {
  color: #FFFFFF;
}


.App {
  text-align: center;
}

.panel-container {
  
}

.panel-project-info {

}

.panel-nft-list {

}

.panel-trait-types {

}

@media (min-width: 600px) {
  .panel-container {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 6fr;
  }

  .panel-project-info {
    grid-row: 1;
    grid-column: 1 / span 2;
  }

  .panel-trait-types {
    grid-row: 2;
    grid-column: 1;
  }
  
  .panel-nft-list {
    grid-row: 2;
    grid-column: 2;
  }
}

.nft-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 1em 1em;
  grid-auto-flow: row dense;
}

.nft-container-single {
  margin:auto;
  max-width: 400px;
}

.nft-card {
  margin: 16px;
  padding: 4;
  min-width: 240px;
  min-height: 240px;
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  border: 8px solid var(--pink);
  box-shadow: 5px 5px 0px var(--blue);
  /* box-shadow: 10px 5px 5px red; */
}

.nft-card:hover {
  border: 8px solid var(--blue);
  box-shadow: 5px 5px 0px var(--blue);
}

.nft-card-image {
  width: 150px;
  height: 150px;
  margin: auto;
}
.nft-card-image img {
  width: 150px;
  height: 150px;
}

.nft-trait-types {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 1em 1em;
  grid-auto-flow: row dense;
}

.nft-trait-type {
  margin: 8px;
  border: 8px solid var(--blue);
}
.nft-trait-type {
  margin: 8px;
  border: 8px solid var(--blue);
}
.nft-trait-type-header {
  padding: 4px;
}

.nft-trait-values {
  display: flex;
  flex-direction: column;
}

.nft-trait-value {
  padding: 4px;
  opacity: 0.5;
}
.nft-trait-value:hover {
  color: white;
}
.nft-trait-value-selected {
  padding: 4px;
  opacity: 1;
  border: 1px solid var(--blue);
}