:root {
  --pink: #FF00AE;
  --blue: #0062F9;
}

body {
  background-color: black;
  color: var(--blue);
}
span, div {
  font-family: 'Space Mono', monospace;
}

.bar-background {
  background: var(--pink);
  opacity: 0.5;
}

a {
  color: var(--pink);
}

a:hover {
  color: #FFFFFF;
}


.App {
  text-align: center;
}

.nft-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nft-card {
  margin: 16px;
  padding: 4;
  width: calc(100% - 32px);
  border: 8px solid var(--pink);
  box-shadow: 5px 5px 0px var(--blue);
  /* box-shadow: 10px 5px 5px red; */
}

.nft-card-image {
  width: 150px;
  height: 150px;
  margin: auto;
}
.nft-card-image img {
  width: 150px;
  height: 150px;
}
