body {
  background-color: black;
  color: #0062F9;
}
span, div {
  font-family: 'Space Mono', monospace;
}

a {
  color: #FF00AE;
}

a:hover {
  color: #FFFFFF;
}


.App {
  text-align: center;
}

.nft-card {
  margin: 16px;
  padding: 4;
  width: 300px;
  border: 8px solid #FF00AE;
  box-shadow: 5px 5px 0px #0062F9;
  /* box-shadow: 10px 5px 5px red; */
}
